name: backend-ci
on:
  pull_request:
    paths:
      - "apps/backend/**"
      - ".github/**"
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20.x"

      - name: Install dependencies
        working-directory: apps/backend
        run: npm ci

      - name: Build app
        working-directory: apps/backend
        run: npm run lint

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20.x"

      - name: Install dependencies
        working-directory: apps/backend
        run: npm ci

      - name: Build app
        working-directory: apps/backend
        run: npm run build

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: node-app-build
          path: apps/backend/dist

  test:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20.x"

      - name: Install dependencies
        working-directory: apps/backend
        run: npm ci

      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          name: node-app-build
          path: apps/backend/dist

      - name: Run tests
        working-directory: apps/backend
        run: npm test
