name: backend-ci
on:
  push:
    paths:
      - "apps/backend/**"
      - ".github/**"
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        working-directory: apps/backend
        run: npm install

      - name: Build app
        working-directory: apps/backend
        run: npm run build

      - name: Run tests
        working-directory: apps/backend
        run: npm test
